* {
  font-family: "Courier New", "Times New Roman", sans-serif;
  font-size: 20px;
  color: green;
}

.title {
  font-size: 40px;
}

.random-class-1 .random-class-2 .random-class-3{
  color: cyan;
}

a {
  background-color: orange;
  color: white;
}

.index-link {
  font-weight: bold;
  color: blue;
}

